{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
          class="fos_user_resetting_reset">
        <div class="form_row row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3">
                {{ form_label(form.username, 'Login') }}
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}
            </div>
        </div>
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-primary"/>
        </div>
    </form>
    {{ form_end(form) }}
{% endblock %}
