<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('beni_bdtheque_home') }}">BdThèque</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li {% if app.request.attributes.get('_route') == 'beni_bdtheque_series_list' %}class="active"{% endif %}>
                    <a href="{{ path('beni_bdtheque_series_list') }}">Toutes les séries</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'beni_bdtheque_comicstrip_list' %}class="active"{% endif %}>
                    <a href="{{ path('beni_bdtheque_comicstrip_list') }}">Toutes les BDs</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'beni_bdtheque_comicstrip_mylist' %}class="active"{% endif %}>
                    <a href="{{ path('beni_bdtheque_comicstrip_mylist') }}">Ma liste de BDs</a>
                </li>
            </ul>
            {% if app.user %}
                <ul class="nav navbar-nav navbar-right">
                    <li {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}class="active"{% endif %}>
                        <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'fos_user_security_logout' %}class="active"{% endif %}>
                        <a href="{{ path('fos_user_security_logout') }}">Se déloguer</a>
                    </li>
                </ul>
            {% elseif not app.user %}
                <ul class="nav navbar-nav navbar-right">
                    <li {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}class="active"{% endif %}>
                        <a href="{{ path('fos_user_security_login') }}">Se loguer</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}class="active"{% endif %}>
                        <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
                    </li>
                </ul>
            {% endif %}
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <ul class="nav navbar-nav">
                <li {% if app.request.attributes.get('_route') == 'beni_bdtheque_comicstrip_search' %}class="active"{% endif %}>
                    <a href="{{ path('beni_bdtheque_comicstrip_search') }}">Recherche avancée</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
