<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('beni_bdtheque_home') }}">BdThèque</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {%  if app.request.attributes.get('_route') == 'beni_bdtheque_list' %}class="active"{% endif %}>
                    <a href="{{ path('beni_bdtheque_list') }}">Ma liste de BDs</a>
                </li>
            </ul>
            {% if app.user %}
            <ul class="nav navbar-nav navbar-right">
                <li {%  if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}class="active"{% endif %}>
                    <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a>
                </li>
                <li {%  if app.request.attributes.get('_route') == 'fos_user_security_logout' %}class="active"{% endif %}>
                    <a href="{{ path('fos_user_security_logout') }}">Se déloguer</a>
                </li>
            </ul>
            {% elseif not app.user %}
                <ul class="nav navbar-nav navbar-right">
                    <li {%  if app.request.attributes.get('_route') == 'fos_user_security_login' %}class="active"{% endif %}>
                        <a href="{{ path('fos_user_security_login') }}">Se loguer</a>
                    </li>
                    <li {%  if app.request.attributes.get('_route') == 'fos_user_registration_register' %}class="active"{% endif %}>
                        <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>
