{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block title %}{{ parent() }} - Details '{{ oComicStrip.title }}'{% endblock %}

{% block body %}
    <article class="well">
        <h3 class="txt-black">{{ oComicStrip.title }}</h3>

        <p>par {{ oComicStrip.author }}<br/>
            {% if oComicStrip.ISBN %}
                ISBN : {{ oComicStrip.ISBN }}<br/>
            {% endif %}
            {% if oComicStrip.editor %}
                Editeur : {{ oComicStrip.editor }}<br/>
            {% endif %}
            {% if oComicStrip.category %}
                Catégorie : {{ oComicStrip.category }}<br/>
            {% endif %}
            {% if oComicStrip.series %}
                Série : {{ oComicStrip.series.title }}<br/>
            {% endif %}
            {% if oComicStrip.tome %}
                Tome : {{ oComicStrip.tome }}<br/>
            {% endif %}
            {% if oComicStrip.legalDeposit %}
                Depot légal : {{ oComicStrip.legalDeposit|date("m/d/Y") }}<br/>
            {% endif %}
            {% if oComicStrip.resume %}
                {{ oComicStrip.resume }}<br/>
            {% endif %}
        </p>
        <a href="{{ path('beni_bdtheque_comicstrip_edit', {'idComicStrip':oComicStrip.id}) }}" class="btn btn-primary">Modifier</a>
        <a href="{{ path('beni_bdtheque_comicstrip_delete', {'idComicStrip':oComicStrip.id}) }}"
           class="btn btn-primary">Supprimer</a>
    </article>
    <a href="{{ path('beni_bdtheque_comicstrip_list') }}" class="btn btn-primary">Retour liste</a>
{% endblock %}
