{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block title %}{{ parent() }} - Details '{{ oComicStrip.title }}'{% endblock %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <div class="well">
                titre : {{ oComicStrip.title }}<br/>
                auteur : {{ oComicStrip.author }}<br/>
                resume : {{ oComicStrip.resume }}<br/>
                date : {{ oComicStrip.date|date("m/d/Y") }}<br/>
                série : {{ oComicStrip.series.title }}<br/>
            </div>
            <a href="{{ path('beni_bdtheque_comicstrip_edit', {'idComicStrip':oComicStrip.id}) }}">Modifier</a>
             -
            <a href="{{ path('beni_bdtheque_comicstrip_delete', {'idComicStrip':oComicStrip.id}) }}">Supprimer</a>
            -
            <a href="{{ path('beni_bdtheque_comicstrip_list') }}">Retour liste</a>
        </div>
    </div>
{% endblock %}
