{% extends "BeniBdthequeBundle::Default/layout.html.twig" %}

{% block title %}{{ parent() }} - liste des bd{% endblock %}

{% block body %}
    <h2 class="txt-white">Ma liste de BDs</h2>

    <div class="well">
        {# total items count #}
        <span class="pagination-count">
            {{ pagination.getTotalItemCount }} BDs
        </span>
        {# sorting of properties based on query components #}
        <span  class="pagination-bouton{% if pagination.isSorted('title') %} pagination-sorted{% endif %}">
            {{ knp_pagination_sortable(pagination, 'Tri par titre', 'title') }}
        </span>
        <span  class="pagination-bouton{% if pagination.isSorted('title') %} pagination-sorted{% endif %}">
            {{ knp_pagination_sortable(pagination, 'Tri par auteur', 'author') }}
        </span>
        <span class="pagination-bouton">
            <a href="{{ path('beni_bdtheque_series_create') }}" class="btn btn-primary">Ajouter une série</a>
        </span>
    </div>

    {# list #}
    <div>
    {% for oComicStrip in pagination %}
        <article class="well">
            <h3 class="txt-black">{{ oComicStrip.title }}</h3>
            <p>({{ oComicStrip.author }})</p>
            <a href="{{ path('beni_bdtheque_comicstrip_details',{'idComicStrip':oComicStrip.id}) }}" class="btn btn-primary">Détails</a>
            <a href="{{ path('beni_bdtheque_comicstrip_edit', {'idComicStrip':oComicStrip.id}) }}" class="btn btn-primary">Modifier</a>
        </article>
    {% else %}
        <p>Pas (encore !) de BD</p>
    {% endfor %}

    {# display navigation #}
    {{ knp_pagination_render(pagination) }}

{% endblock %}
